<section data-ng-controller="GroupController">
    <form class="form-horizontal col-md-6" role="form" data-ng-submit="create()">
        <div class="form-group">
            <label mean-token="'create-name'" class="col-md-2 control-label">Title</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="name" id="name" placeholder="Name" required>
            </div>
        </div>
        <div class="form-group">
            <label mean-token="'create-description'" for="description" class="col-md-2 control-label">Description</label>
            <div class="col-md-10">
                <textarea data-ng-model="description" id="description" cols="30" rows="10" placeholder="Description" class="form-control" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Inivites</label>
            <div class="col-md-10">
                <ul data-ng-show="invitedUsers.length">
                    <li data-ng-repeat="mail in invitedUsers">
                        {{mail}}
                    </li>
                </ul>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addInvitation()">Add</button>
                    </span>
                    <input type="text" class="form-control" data-ng-model="newInvitation" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>
</section>
