<div class="" data-ng-controller="GroupController" data-ng-init="find()">
    <h1>Groups</h1>
    <table class="table table-striped" data-ng-show="groups.length > 0">
        <tr>
            <th>Name</th>
            <th>Members</th>
            <th></th>
        </tr>
        <tr data-ng-repeat="group in groups">
            <td>
                <a data-ng-href="#!/groups/{{group._id}}">
                    {{group.name}}
                </a>
            </td>
            <td>
                {{group.members.length}}
            </td>
            <td>
                <div data-ng-show="global.user._id == group.admin">
                    <a class="btn btn-default btn-sm" data-ng-click="remove(group._id);">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </a>
                </div>
            </td>
        </tr>
    </table>
    <h1 data-ng-hide="!groups || groups.length">No groups yet. <br> Create one or let somebody invite you.</h1>
    <a class="btn btn-primary" ui-sref="create group">Add a new group</a>
</div>
