<div class="" data-ng-controller="GroupController" data-ng-init="find()">
    <h1>Groups</h1>
    <table class="table table-striped" data-ng-show="groups.length > 0">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Members</th>
            <th></th>
        </tr>
        <tr data-ng-repeat="group in groups">
            <td>
                <span data-ng-show="global.user._id == group.admin"class="glyphicon glyphicon-user"></span>
            </td>
            <td>
                <a data-ng-href="#!/groups/{{group._id}}">
                    {{group.name}}
                </a>
            </td>
            <td>
                {{group.members.length}}
            </td>
            <td>
                <div data-ng-show="global.user._id == group.admin">
                    <a class="btn btn-default btn-sm" href="/#!/groups/{{group._id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                        Edit
                    </a>
                    <a class="btn btn-default btn-sm" data-ng-click="remove(group._id);">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </a>
                </div>
            </td>
        </tr>
    </table>

    <div data-ng-show="groupInvitations.length > 0">
        <h1>Invitations</h1>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Members</th>
                <th>Inviters</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="invite in groupInvitations">
                <td>
                </td>
                <td>
                    <a data-ng-href="#!/groups/{{invite.group._id}}">
                        {{invite.group.name}}
                    </a>
                </td>
                <td>
                    {{invite.group.members.length}}
                </td>
                <td>
                    <span ng-repeat="inviter in invite.inviters">
                        {{inviter.username}}{{$last ? '' : ', '}}
                    </span>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>


    <h1 data-ng-hide="!groups || groups.length || !groupInvitations || groupInvitations.length">No groups and invitations yet. <br> Create one or let somebody invite you.</h1>
    <a class="btn btn-primary" ui-sref="create group">Add a new group</a>
</div>
