<section data-ng-controller="GroupController" data-ng-init="findOne()">
    <span>{{group.created | date:'medium'}}</span> /
    <span>{{group.admin.name}}</span>
    <h2>{{group.name}}</h2>
    <div>{{group.description}}</div>
    <h4>Members</h4>
    <ul>
        <li data-ng-repeat="member in group.members">
            {{member.username}}
        </li>
    </ul>
    <div data-ng-show="group.invitedUsers.length">
        <h4>Inivited Users</h4>
        <ul>
            <li data-ng-repeat="mail in group.invitedUsers">
                {{mail}}
            </li>
        </ul>
    </div>
    <h4>Admin</h4>
    <div>{{group.admin.username}}</div>
    <div data-ng-show="global.user._id == group.admin._id">
        <a class="btn btn-default" href="/#!/groups/{{group._id}}/edit">
            <span class="glyphicon glyphicon-edit"></span>
            Edit
        </a>
        <a class="btn btn-default" data-ng-click="remove(group._id);">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
        </a>
    </div>
</section>